body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.tile {

  line-height: 1.8em;
  padding: 0.2em;
  cursor:pointer;
  display:inline;
  background-color:white;
  border:1px solid;
  border-color:#f3f3f3 #bbb #bbb #f3f3f3;
}


#tilegrid, #output #stack {

	padding: 0em;
}

#tilegrid {

	flow: h-flow;
}

#output {

}

#output #stack {

	height: 0.5em;
}

#output #textual {

	width: 100%;
}